* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left {
  float: left;
}

body {
  background-image: url('../img/natural-pattern.png');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

h2 {
  color: rgba(6, 6, 6, 0.74);
}

/* Inizio intestazione */
header {
  height: 400px;
  background-color: yellow;
}

.header-top {
  width: 100%;
  height: 360px;
  background-image: url('../img/natural-header.jpg');
  border: 10px solid white;
  position: relative;
  text-align: center;
}

.header-image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image img {
  width: 50%;
}

.header-image h1 {
  color: white;
  text-transform: uppercase;
}

/* Inizio nav */
nav {
  background-color: grey;
  text-align: center;
}

nav .menu li{
  list-style: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

nav .menu li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav .menu li:hover {
  background-color: lightgrey;
}
/* / nav */
/* / intestazione */

/* Inizio corpo centrale */
main{
  /* width: 100%; */
  margin: 10px 0;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

/* Inizio themes */
.themes {
  width: 20%;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.themes-logo {
  width: 20%;
}

.themes-logo i {
  color: orange;
  font-size: 40px;
}

.themes-title {
  width: 80%;
  padding-left: 10px;
  margin-bottom: 20px;
}

.themes-header::after {
  content:'';
  display: table;
  clear:both;
}

ul.themes-menu {
    list-style: none;
}

ul.themes-menu li {
  margin: 15px 0;
}

.themes-menu a {
  color: green;
  text-decoration: none;
}
/* / themes */

/* Inizio maincorp */
.maincorp {
  width: 56%;
  margin: 0 2%;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

section.maincorp h2{
  margin-bottom: 30px;
  text-transform: uppercase;
  text-shadow: 3px 3px rgba(4, 4, 4, 0.30);
}

section.maincorp p {
  line-height: 30px;
}
/* / maincorp */

/* Inizio widgets */
.widgets {
  width: 20%;
}

.widget {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 15px;
}

.widget h2 {
  margin-bottom: 30px;
}

.widget p {
  line-height: 30px;
}
/* / widgets */
/* / corpo principale */

/* Inizio footer */
footer {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

.footer-top {
  color: lightgrey;
}

.social-list {
  list-style: none;
}

.social-list li{
  width: calc(100% / 3)
}

.social-list li a i {
  font-size: 30px;
  color: lightgrey;
  padding: 40px;
}

.social::after {
  content: '';
  display: table;
  clear: both;
}

.social-list li a:hover #facebook {
  color: blue;
}

.social-list li a:hover #instagram {
  color: rgb(242, 23, 62);
}

.social-list li a:hover #github {
  color: black;
}
/* / footer */
