* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left {
  float: left;
}

body {
  background-image: url('../img/natural-pattern.png');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

/* Inizio intestazione */
header {
  height: 400px;
  background-color: yellow;
}

.header-top {
  width: 100%;
  height: 360px;
  background-image: url('../img/natural-header.jpg');
  border: 10px solid white;
  position: relative;
  text-align: center;
}

.header-image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image img {
  width: 50%;
}

.header-image h1 {
  color: white;
  text-transform: uppercase;
}

/* Inizio nav */
nav {
  background-color: grey;
  text-align: center;
}

nav .menu li{
  list-style: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}

nav .menu li a {
  color: white;
  text-decoration: none;
}

nav .menu li:hover {
  background-color: lightgrey;
}
/* / nav */
/* / intestazione */

/* Inizio corpo centrale */
main{
  /* width: 100%; */
  margin: 10px 0;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

/* Inizio themes */
.themes {
  width: 20%;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.themes-logo {
  width: 20%;
}

.themes-logo i {
  color: orange;
  font-size: 40px;
}

.themes-title {
  width: 80%;
  padding-left: 10px;
  margin-bottom: 20px;
}

.themes-header::after {
  content:'';
  display: table;
  clear:both;
}

ul.themes-menu {
    list-style: none;
}

ul.themes-menu li {
  margin: 15px 0;
}

.themes-menu a {
  color: green;
  text-decoration: none;
}

/* / themes */

.maincorp {
  width: calc(60% - 60px);
  height: 350px;
  margin: 0 30px;
  background-color: violet;
}

.col-right {
  width: 20%;
}

.box {
  width: 100%;
  height: 400px;
  background-color: pink;
  margin-bottom: 30px;
}

/* / corpo centrale */

/* Inizio footer */
footer {
  background-color: lightblue;
  height: 150px;
}
/* / footer */
